//Gobal Style for button
//default variables
$fec-button-border-default: none !default;
$fec-button-padding-default: 0.5em 1.5em 0.5em !default;
$fec-button-border-radius-default: 2px !default;
//functions
// button base mixins
@mixin pure-button(
  $color,
  $background,
  $color-opacity: 1,
  $background-opacity: 0,
  $border: $fec-button-border-default,
  $border-radius: $fec-button-border-radius-default,
  $padding: $fec-button-padding-default
) {
  //convert color
  $color-rgba: rgba($color, $color-opacity);
  $background-rgba: rgba($background, $background-opacity);

  // for hover, and active state
  $background-dark: rgba(darken($background, 10%), $background-opacity / 2);
  $background-darker: rgba(darken($background, 15%), $background-opacity / 2);
  // Structure
  display: inline-block;
  *display: inline; //IE 6/7
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  *font-size: 90%;
  *overflow: visible;
  padding: $padding;
  color: $color;
  color: $color-rgba;
  *color: $color;
  border: $border;

  @if $background-opacity != 1 {
    background-color: $background-rgba;
  } @else {
    background-color: $background;
  }

  text-decoration: none;
  border-radius: $border-radius;
  -webkit-font-smoothing: antialiased;
  //Transitions
  -webkit-transition: 0.1s linear -webkit-box-shadow;
  -moz-transition: 0.1s linear -moz-box-shadow;
  -ms-transition: 0.1s linear box-shadow;
  -o-transition: 0.1s linear box-shadow;
  transition: 0.1s linear box-shadow;

  // Firefox: Get rid of the inner focus border
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:hover,
  &:focus {
    @if lightness($background) >=
      lightness($color) and
      $background-opacity ==
      0 and
      $background !=
      #ffffff
    {
      color: lighten($background, 50%);
    } @else if $background == #ffffff and $background-opacity == 0 {
      color: darken($background, 50%);
    } @else {
      color: lighten($background, 50%);
    }
    @if $background-opacity == 0 {
      background-color: $background;
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -ms-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      transition: all 0.25s linear;
    } @else {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{ie-hex-str($background-dark)}, endColorstr=#{ie-hex-str($background-darker)}, GradientType=0);
      background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        from(transparent),
        color-stop(40%, $background-dark),
        to($background-darker)
      );
      background-image: -webkit-linear-gradient(
        transparent,
        $background-dark 40%,
        $background-darker
      );
      background-image: -moz-linear-gradient(
        top,
        $background-dark 0%,
        $background-darker
      );
      background-image: -ms-linear-gradient(
        transparent,
        $background-dark 40%,
        $background-darker
      );
      background-image: -o-linear-gradient(
        transparent,
        $background-dark 40%,
        $background-darker
      );
      background-image: linear-gradient(
        transparent,
        $background-dark 40%,
        $background-darker
      );
    }
  }
  &:focus {
    outline: 0;
  }
  &:active {
    box-shadow: 0 0 0 1px
        rgba(darken($background, 20%), $background-opacity / 4) inset,
      0 0 6px rgba(darken($background, 20%), $background-opacity / 2) inset;
  }
}
//sizing
@mixin pure-button-size($size) {
  @if $size == xs {
    font-size: 70%;
  } @else if $size == sm {
    font-size: 85%;
  } @else if $size == lg {
    font-size: 110%;
  } @else if $size == xl {
    font-size: 125%;
  } @else {
    font-size: 100%;
  }
}

.btn-blue {
  width: 4rem;
  @include pure-button-size(sm);
  @include pure-button(#fff, #0e90d2, 1, 1);
  border-radius: 20px;
}
.btn-blue-cart {
  @include pure-button-size(sm);
  @include pure-button(#fff, #0e90d2, 1, 1);
  border-radius: 20px;
}
.btn-green {
  @include pure-button(#fff, #368868, 1, 1);
  border-radius: 20px;
}
.btn-red {
  @include pure-button(#ffffff, #dd514c, 1, 1);
  border-radius: 20px;
}
.btn-gray {
  @include pure-button(#ffffff, #9b807f, 1, 1);
  border-radius: 20px;
}

.btn-warning {
  @include pure-button(#ffffff, #df7514, 1, 1);
  border-radius: 20px;
}
.btn-blue-xs {
  @include pure-button-size(xs);
  @include pure-button(#ffffff, #0e90d2);
}
.btn-blue-sm {
  @include pure-button-size(sm);
  @include pure-button(#ffffff, #0e90d2);
}
.btn-blue-lg {
  @include pure-button-size(lg);
  @include pure-button(#ffffff, #0e90d2);
}
.btn-blue-xl {
  @include pure-button-size(xl);
  @include pure-button(#ffffff, #0e90d2);
}
.btn-bordered {
  @include pure-button(#dd514c, #dd514c, 1, 0, 1px solid #dd514c);
}

.btn-trans-Cancel {
  @include pure-button-size(lg);
  @include pure-button(black, #fff, 1, 0);
}

.btn-rounded-green {
  @include pure-button(#368868, #368868, 1, 0, 1px solid #368868, 10px);
  border-radius: 20px;
}
$background-dark: rgba(darken(rgb(221, 219, 219), 10%), 1/ 2);
$background-darker: rgba(darken(rgb(215, 204, 204), 15%), 1 / 2);

@mixin IconCart($color, $hovercolor) {
  color: $color;
  &:hover {
    color: $hovercolor;
    background-image: linear-gradient(
      transparent,
      $background-dark 40%,
      $background-darker
    );
  }
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
/* 6 */
.btn-6 {
  background: rgb(247, 150, 192);
  background: radial-gradient(
    circle,
    rgba(247, 150, 192, 1) 0%,
    rgba(118, 174, 241, 1) 100%
  );
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn-6:hover {
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}
.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}
.btn-6 span:hover:before {
  width: 100%;
}
.btn-6 span:hover:after {
  width: 100%;
}

/* 12 */
.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
